@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal !important;
  letter-spacing: 2px;
}


.muiBtn {
  text-transform: unset !important;
  color: unset !important;
}

.sign {
  color: #079C49 !important;
  border: 2px solid #079C49 !important;
}

.register {

  color: #fff !important;
  background-color: #079C49 !important;
}

.blur__circle {


  top: -7%;
  right: -9%;
  border-radius: 50%;
  position: absolute;

  background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
  /* Blur style */

  filter: blur(4px);
  backdrop-filter: blur(10px);
}

.blur__best {

  position: absolute;


  filter: blur(4px);

  background: linear-gradient(90deg, #E1E1E1 5.31%, rgba(242, 242, 242, 0) 111.81%);
  /* Blur style */


  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.googleBtn {
  border: 2px solid #333333 !important;
  border-radius: 32px !important;
}


.courseIcon {
  background: linear-gradient(236.62deg, #079C49 13.53%, #AAFBCE 101.01%);
}


.CircularProgressbar-text {
  transform: translate(-24%, 5px);
}

.circleProgress {
  background: linear-gradient(180deg, rgba(1, 131, 255, 0.036) 0%, rgba(1, 131, 255, 0.132) 100%);
}

.doc__card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  margin-bottom: 10px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer
}

.file-preview {
  margin: 0 10px;
}


.custom-file-input {
  background-color: unset !important;
}

.uploadBtn {
  width: 100px !important;
  color: #fff !important;
  background-color: #155697 !important;
  text-transform: unset !important;
  height: 100% !important;
  border-radius: 0px 8px 8px 0px !important;
  font-size: 16px !important;
}


.selectInput {
  background-color: unset;
  color: #5D5D5D;
  cursor: pointer;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}